# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.img
*.iso
*.qcow2

# Ansible
*.retry
/ssh_keys/
*.log
inventory.ini

# Secretos #
credenciales_wazuh.txt


# Otros
.DS_Store
*.log
uso_git.txt

