#cloud-config

# 1. Configuración del usuario administrador
users:
  - name: walter
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    lock_passwd: false
    passwd: "$6$fiQHuPJPs.Dfdz05$2lnqVHsjzNMm9MJCkAdMX3h.cgIZRLFpCQ1Ef6KG8cEsgs2fdlX8D.YG//j5TAz4mxEWVS258dYs5uW4SoV401"
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP1Zj4Zj9BfTzob0mAGz14KuNtOV9mVpcyrPQWuzhaOz walter@thinkpad-lab

# 3. Configuración SSH
ssh_pwauth: false

# 4. Actualización automática al nacer
package_update: true
package_upgrade: true

# 5. Hostname personalizado al nombre de la MV:

hostname: ${vm_hostname}
fqdn: ${vm_hostname}.secdevops.local
manage_etc_hosts: true
